header #topbar {
  width: 100%;
  height: 120px;
}

header #topbar a {
  display: block;
  height: 120px;
  background: url(../images/topbar.jpg) no-repeat;
  background-position-x: 50%;
  background-size: auto 120px;
}

header #site-topbar {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #333;
  font-size: 12px;
}

header #site-topbar .container .topbar_nav a, header #site-topbar .container .topbar_userInfo a {
  display: inline-block;
  float: left;
  color: #b0b0b0;
}

header #site-topbar .container .topbar_nav a:hover, header #site-topbar .container .topbar_userInfo a:hover {
  color: #fff;
}

header #site-topbar .container .topbar_nav span, header #site-topbar .container .topbar_userInfo span {
  display: inline-block;
  float: left;
  color: #424224;
  margin: 0 7px;
}

header #site-topbar .container .topbar_userInfo {
  margin-right: 20px;
}

header #site-topbar .container .topbar_cart .cart_min {
  display: block;
  width: 120px;
  height: 40px;
  background: #424242;
  color: #b0b0b0;
  text-align: center;
}

header #site-topbar .container .topbar_cart .cart_min:hover {
  color: #ff6700;
  background: #fff;
}

header #site-header {
  position: relative;
  height: 100px;
}

header #site-header .header_logo {
  padding-top: 22px;
}

header #site-header .header_logo a {
  display: block;
  width: 55px;
  height: 55px;
  overflow: hidden;
}

header #site-header .header_logo a p {
  width: 110px;
  height: 100%;
}

header #site-header .header_logo a p em {
  float: left;
  width: 55px;
  height: 55px;
  background: #ff6700 url(../images/mi-logo.png) no-repeat 50% 50%;
}

header #site-header .header_logo a p span {
  float: left;
  width: 55px;
  height: 55px;
  background: #ff6700 url(../images/mi-home.png) no-repeat 50% 50%;
}

header #site-header .header_logo a:hover p {
  transform: translateX(-55px);
}

header #site-header .header_nav {
  margin-left: 179px;
}

header #site-header .header_nav .nav_list {
  padding-top: 12px;
}

header #site-header .header_nav .nav_list li {
  float: left;
}

header #site-header .header_nav .nav_list li a {
  transition: width 2s;
  display: inline-block;
  padding: 26px 10px 41px;
  color: #333333;
}

header #site-header .header_nav .nav_list li a span {
  line-height: 0;
  font-size: 16px;
}

header #site-header .header_nav .nav_list li a:hover {
  color: #ff6700;
}

header #site-header .header_nav .nav_list li .list_box {
  position: absolute;
  width: 100%;
  height: 0;
  transition: width 2s;
  left: 0;
  background: pink;
  z-index: 200;
  display: none;
}

header #site-header .header_nav .nav_list li:hover .list_box {
  display: block  !important;
  height: 250px;
}

header #site-header .header_search {
  margin-top: 25px;
}

header #site-header .header_search .text {
  width: 243px;
  height: 48px;
  outline: 0;
  border: 1px solid #e0e0e0;
  padding: 0 10px;
}

header #site-header .header_search div {
  position: relative;
}

header #site-header .header_search div .btn {
  width: 52px;
  height: 50px;
  border: 1px solid #e0e0e0;
  background: #ff6700;
  outline: 0;
}

header #site-header .header_search div .btn:hover {
  border: none;
  cursor: pointer;
}

header #site-header .header_search div em {
  position: absolute;
  font-size: 26px;
  left: 50%;
  top: 50%;
  transform: translate(-13px, -13px);
}

#home {
  position: relative;
}

#home .slide {
  width: 100%;
  height: 460px;
  position: relative;
}

#home .slide .imgbox {
  width: 100%;
  height: 100%;
}

#home .slide .imgbox img {
  width: 100%;
  height: 100%;
}

#home .slide span {
  position: absolute;
  top: 45%;
  width: 50px;
  height: 70px;
  color: rgba(173, 168, 168, 0.6);
  line-height: 70px;
  text-align: center;
  font-size: 3em;
  cursor: pointer;
  user-select: none;
}

#home .slide span:first-of-type {
  left: 250px;
}

#home .slide span:last-of-type {
  right: 10px;
}

#home .slide span:hover {
  background: rgba(105, 101, 101, 0.6);
  color: #fff;
}

#home .slide ul {
  position: absolute;
  left: 300px;
  bottom: 30px;
  width: 120px;
  height: 20px;
  line-height: 20px;
}

#home .slide ul li {
  list-style: none;
  float: left;
  width: 10px;
  height: 10px;
  background: #5a5f5f;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  user-select: none;
}

#home .slide ul li:nth-child(1) {
  background: red;
}

#home .menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 243px;
  height: 460px;
  background: rgba(105, 101, 101, 0.6);
}

#home .menu ul {
  padding-top: 20px;
}

#home .menu ul li {
  height: 42px;
  line-height: 42px;
}

#home .menu ul li a {
  display: block;
  color: #fff;
  padding-left: 30px;
}

#home .menu ul li a em {
  float: right;
  margin-right: 30px;
}

#home .menu ul li .menu_content {
  position: absolute;
  left: 234px;
  top: 0;
  width: 992px;
  height: 460px;
  background: pink;
  display: none;
}

#home .menu ul li:hover {
  background: #ff6700;
}

#home .menu ul li:hover .menu_content {
  display: block;
}

#home .home_row {
  margin-top: 20px;
}

#home .home_row .row_left {
  width: 243px;
  height: 170px;
  background: gray;
}

#home .home_row ul li {
  margin-left: 11px;
  float: left;
  width: 316px;
  height: 170px;
}

#home .home_row ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

#home .home_row ul li a img {
  width: 100%;
  height: 100%;
}

main {
  margin-top: 30px;
  background: #f5f5f5;
  height: 4000px;
}

main #flashsale {
  height: 400px;
}

main #flashsale .flash_box {
  height: 340px;
}

main #flashsale .flash_box .seckill {
  width: 234px;
  height: 300px;
  padding-top: 39px;
  border-top: 1px solid #e53935;
  background: #f1eded;
  text-align: center;
}

main #flashsale .flash_box .seckill p {
  font-size: 21px;
  color: #ef3a3b;
  padding-top: 15px;
}

main #flashsale .flash_box .seckill img {
  margin: 25px auto;
}

main #flashsale .flash_box .seckill .desc {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
}

main #flashsale .flash_box .seckill .time {
  font-size: 28px;
  color: #605751;
  line-height: 46px;
  width: 168px;
  margin: 28px auto 0;
}

main #flashsale .flash_box .seckill .time span {
  display: inline-block;
  width: 46px;
  height: 46px;
  color: #fff;
  font-size: 24px;
  line-height: 46px;
  background: #605751;
}

main #flashsale .flash_list {
  margin-left: 14px;
  width: 978px;
  position: relative;
}

main #flashsale .flash_list .controls {
  position: absolute;
  top: -35px;
  left: 905px;
  width: 70px;
  height: 25px;
  z-index: 99;
}

main #flashsale .flash_list .controls span {
  display: inline-block;
  width: 33px;
  height: 23px;
  border: 1px solid #e0e0e0;
  text-align: center;
  line-height: 23px;
}

main #flashsale .flash_list .controls span:last-child {
  margin-left: -1px;
}

main #flashsale .flash_list .controls span:hover {
  color: #ff6700;
}

main #flashsale .flash_list .list_warp {
  width: 2500px;
}

main #flashsale .flash_list .list_warp li {
  float: left;
  width: 234px;
  border-top: 1px solid #ffac13;
  margin-right: 14px;
  background: white;
}

main #flashsale .flash_list .list_warp li a {
  display: block;
  height: 300px;
  width: 234px;
  padding-top: 39px;
  text-align: center;
}

main #flashsale .flash_list .list_warp li a .img {
  width: 160px;
  height: 160px;
  margin: 0 auto 22px;
}

main #flashsale .flash_list .list_warp li a .img img {
  width: 100%;
  height: 100%;
}

main #flashsale .flash_list .list_warp li a h3 {
  margin: 0 20px 3px;
  font-size: 14px;
  font-size: 400;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main #flashsale .flash_list .list_warp li a .desc {
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main #flashsale .flash_list .list_warp li a .price span {
  color: #ff6709;
}

main #flashsale .flash_list .list_warp li a .price em {
  color: #b0b0b0;
}

main #banner_box {
  height: 120px;
  margin: 22px 0;
  overflow: hidden;
}

main #banner_box a {
  display: block;
  width: 100%;
  height: 100%;
}

main #banner_box a img {
  width: 100%;
  height: 100%;
}

main #phone .phone_box .span4 {
  width: 234px;
  height: 614px;
  background: blue;
}

footer .footer_service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}

footer .footer_service .list_service li {
  float: left;
  height: 25px;
  width: 19.8%;
  line-height: 25px;
  font-size: 16px;
  text-align: center;
  border-right: 1px solid #c0c0c0;
}

footer .footer_service .list_service li a {
  color: #616161;
}

footer .footer_service .list_service li a:hover {
  color: #ff6709;
}

footer .footer_service .list_service li:last-child {
  border-right: 0;
}

footer .footer_links {
  padding: 40px 0;
}

footer .footer_links dl {
  float: left;
  width: 160px;
}

footer .footer_links dl dt {
  font-size: 14px;
  color: #302c2c;
  margin-bottom: 26px;
}

footer .footer_links dl dd {
  font-size: 12px;
  margin-top: 10px;
}

footer .footer_links dl dd a {
  color: #757575;
}

footer .footer_links dl dd a:hover {
  color: #ff6700;
}

footer .footer_links div {
  float: right;
  width: 251px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
}

footer .footer_links div p {
  margin-bottom: 5px;
  font-size: 12px;
}

footer .footer_links div .phone {
  font-size: 22px;
  color: #ff6700;
  line-height: 1;
  margin-bottom: 5px;
}

footer .footer_links div .kf {
  display: inline-block;
  width: 118px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  border: 1px solid #ff6700;
  color: #ff6700;
}

footer .footer_links div .follow {
  font-size: 12px;
  margin-top: 10px;
}

footer .footer_links div .follow a {
  background: url(../images/wb.png) no-repeat 50% 0;
  background-size: cover;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 6px;
  margin-top: -3px;
}

footer .footer_info {
  height: 200px;
  font-size: 12px;
  padding: 30px 0;
  background: #fafafa;
}

footer .footer_info .container {
  position: relative;
}

footer .footer_info .footer_logo {
  width: 57px;
  height: 57px;
  margin-right: 10px;
  background: url(../images/logo-footer.png) no-repeat 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
}

footer .footer_info .info_text {
  padding-left: 67px;
  line-height: 18px;
  font-size: 12px;
}

footer .footer_info .info_text .sites a {
  color: #757575;
}

footer .footer_info .info_text .sites a:hover {
  color: #ff6700;
}

footer .footer_info .info_text .sites span {
  color: #b0b0b0;
}

footer .footer_info .info_text .copy {
  color: #b0b0b0;
}

footer .footer_info .info_text .copy a {
  color: #b0b0b0;
}

footer .footer_info .info_text .copy a:hover {
  color: #ff6700;
}

footer .footer_info .info_link {
  height: 28px;
  margin-top: 20px;
  padding-left: 67px;
}

footer .footer_info .info_link a {
  float: left;
}

footer .footer_info .info_link a img {
  width: 83px;
  height: 28px;
}

.tool {
  position: fixed;
  bottom: 180px;
  right: 0;
  z-index: 99;
}

.tool a {
  display: block;
  width: 82px;
  height: 90px;
  margin-top: -1px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  text-align: center;
  color: #757575;
}

.tool a div {
  width: 30px;
  height: 30px;
  margin: 0 auto 8px;
  padding-top: 18px;
  font-size: 30px;
}

.tool a:hover {
  color: #ff6700;
}
