@charset "utf-8";
html{
    width: 100%;
    height: 100%;
    background: #f9f9f9;
}
.wrapper{
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    padding: 130px 0;
    #layout{
        width: 786px;
        height: 550px;
        margin: 0 auto;
        background: #fff;
        .top_logo{
            width: 100%;
            height: 44px;
            margin: 0 auto;
            padding-bottom: 44px;
            a{
                display: block;
                margin: 0 auto;
                width: 49px;
                height: 48px;
                cursor: none;
                background: url(../images/milogo.png) no-repeat;
            }
        }
        .reg_title{
            h3{
                font-size: 30px;
                color: #333;
                font-weight: normal;
                line-height: 1.5;
                text-align: center;
            }
        }
        .form{
            .regbox{
                width: 332px;
                padding: 30px 0;
                margin: 0 auto;
                line-height: 20px;
            }
            .err_tip{
                margin-top: 5px;
                margin-bottom: 10px;
                line-height: 20px;
                font-size: 14px;
                color: #f66;
                em{
                    width: 14px;
                    height: 14px;
                    margin: -1px 5px 0 0;
                    overflow: hidden;
                    display: inline-block;
                    vertical-align: middle;
                    background: url(../images/err01.png) no-repeat;

                }
                span{
                    vertical-align: middle; 
                }
            }
            .fixed_bot{
                input{
                    width: 330px;
                    height: 42px;
                    margin: 0 auto;
                    line-height: 42px;
                    text-align: center;
                    font-size: 14px;
                    display: block;
                    cursor: pointer;
                    background-color: #ff6700;
                    margin-top: 15px;
                    color: #fff;
                    outline: none;
                    border: 1px solid rgba(186,186,186,.3);
                }
            }
            // step1 
            .reg_step1{
                display: block;
                h4{
                    font-size: 14px;
                    color: #333;
                    padding-bottom: 5px;
                    font-weight: normal;
                }
                .select_region{
                    width: 318px;
                    height: 40px;
                    line-height: 40px;
                    border: 1px solid #e8e8ee;
                    padding-left: 14px;
                    p{
                        float: left;
                        width: 275px;
                        border-right: 1px solid #e8e8ee;
                        cursor: pointer;
                        color: #555;
                    }
                    i{
                        float: left;
                        background: url(../images/icon_user.png) no-repeat;
                        width: 16px;
                        height: 16px;
                        margin: 11px 12px 0 12px;
                    }
                }
                .reg_tip_text{
                    margin: 8px 0 15px;
                    color: #666;
                    font-size: 14px;
                }
                .labelbox{
                        width: 330px;
                        height: 42px;
                        border: 1px solid #e8e8e8;
                        line-height: 42px;
                        label{
                            height: 40px;
                            padding-left: 14px;
                            line-height: 40px;
                            line-height: 40px;
                            width: 54px;
                            
                        }
                        input{
                            
                            float: right;
                            width: 240px;
                            height: 22px;
                            line-height: 22px;
                            padding: 10px;
                            display: inline-block;
                            color: #333;
                            outline: none;
                            border: 0;
                            border-left: 1px solid #e8e8e8;
                        }
                }
            }
            // step2 
            .reg_step2{
                display: none;
                .step2_title{
                    padding-bottom: 20px;
                    div{
                        color: #333333;
                        font-size: 15px;
                        font-weight: bold;
                        span{
                            color: #ff6700;
                            font-size: 14px;
                        }
                    }
                    p{
                        color: #666;
                        font-size: 14px;
                    }
                }
                .inputsend{
                    display: inline-block;
                    padding-top: 2px;
                    height: 40px;
                    line-height: 42px;
                    border: 1px solid #f66 !important;
                    input{
                        height: 20px;line-height: 20px;
                        width: 190px;
                        padding: 10px;
                        display: inline-block;
                        color: #333;
                        outline: 0 none;
                        border: 0;
                        float: left;
                    }
                    span{
                        float: left;
                        margin-left: 8px;
                        height: 40px;
                        line-height: 40px;
                        font-size: 14px;
                        a{
                            display: inline-block;
                            padding:0 10px;
                            color: rgb(66, 64, 64);
                            i{
                                font-style: normal;
                            }
                        }
                    }
                }
                .uncode{
                    font-size: 14px ;
                    a{
                        color: #46639c;
                    }
                }
                .fixed_bot{
                    input{
                        &:last-child{
                            background: #fff;
                            color: #333;
                        }
                    }
                }
            }
            .reg_step3{
                display: none;
                .step3_title{
                    padding-bottom: 20px;
                    div{
                        color: #666;
                        font-size: 14px;
                        font-weight: bold;
                        span{
                            color: #ff6700;
                            font-size: 14px;
                        }
                    }
                    p{
                        color: #666666;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
                .input_box{
                    input{
                        width: 310px;
                        height: 20px;
                        line-height: 20px;
                        padding: 10px;
                        color: #333333;
                        // outline: none;
                        border: 0;
                    }
                    .set_password1,.set_password2{
                        border: 1px solid #f66 !important;
                    }
                    .set_password1{
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .privacy_box{
            height: 30px;
            text-align: center;
            padding-top: 40px;
            label{
                padding: 10px 0;
                color: #9d9d9d;
                font-size: 14px;
                a{
                    color: #333;
                    font-weight: bold;
                }
            }
        }
    }
}
#n_footer{
    text-align: center;
    font-size: 14px;
    background: #f9f9f9;
    padding-top: 30px;
    .nf_link{
        a{
            display: inline-block;
            color: #9d9d9d;
            padding:0 10px; 
            &:first-child{
                color: #333;
            }
        }
        span{
            color: #9d9d9d;
        }
    }
    .nf-info{
        padding: 10px;
        color: #9d9d9d;
        a{
            color: #9d9d9d;
            display: inline-block;
            position: relative;
            padding-left: 20px;
            span{
                display: inline-block;
                width: 20px;
                height: 20;
                position: absolute;
                left: 0;
                bottom: 2px;
            }
        }
    }
}