html {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  padding: 130px 0;
}

.wrapper #layout {
  width: 786px;
  height: 550px;
  margin: 0 auto;
  background: #fff;
}

.wrapper #layout .top_logo {
  width: 100%;
  height: 44px;
  margin: 0 auto;
  padding-bottom: 44px;
}

.wrapper #layout .top_logo a {
  display: block;
  margin: 0 auto;
  width: 49px;
  height: 48px;
  cursor: none;
  background: url(../images/milogo.png) no-repeat;
}

.wrapper #layout .reg_title h3 {
  font-size: 30px;
  color: #333;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
}

.wrapper #layout .form .regbox {
  width: 332px;
  padding: 30px 0;
  margin: 0 auto;
  line-height: 20px;
}

.wrapper #layout .form h4 {
  font-size: 14px;
  color: #333;
  padding-bottom: 5px;
  font-weight: normal;
}

.wrapper #layout .form .select_region {
  width: 318px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e8e8ee;
  padding-left: 14px;
}

.wrapper #layout .form .select_region p {
  float: left;
  width: 275px;
  border-right: 1px solid #e8e8ee;
  cursor: pointer;
}

.wrapper #layout .form .select_region i {
  float: left;
  background: url(../images/icon_user.png) no-repeat;
  width: 16px;
  height: 16px;
  margin: 11px 12px 0 12px;
}

.wrapper #layout .form .reg_tip_text {
  margin: 8px 0 15px;
  color: #666;
  font-size: 14px;
}

.wrapper #layout .form .labelbox {
  width: 330px;
  height: 42px;
  border: 1px solid #e8e8e8;
  line-height: 42px;
}

.wrapper #layout .form .labelbox label {
  height: 40px;
  padding-left: 14px;
  line-height: 40px;
  line-height: 40px;
  width: 54px;
}

.wrapper #layout .form .labelbox input {
  float: right;
  width: 240px;
  height: 22px;
  line-height: 22px;
  padding: 10px;
  display: inline-block;
  color: #333;
  outline: none;
  border: 0;
  border-left: 1px solid #e8e8e8;
}

.wrapper #layout .form .err_tip {
  margin-top: 8px;
  margin-bottom: 5px;
  line-height: 20px;
  font-size: 14px;
  color: #f66;
}

.wrapper #layout .form .err_tip em {
  width: 14px;
  height: 14px;
  margin: -1px 5px 0 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/err01.png) no-repeat;
}

.wrapper #layout .form .err_tip span {
  vertical-align: middle;
}

.wrapper #layout .form .fixed_bot input {
  width: 330px;
  height: 42px;
  margin: 0 auto;
  line-height: 42px;
  text-align: center;
  font-size: 14px;
  display: block;
  cursor: pointer;
  background-color: #ff6700;
  margin-top: 15px;
  color: #fff;
  border: 1px solid rgba(186, 186, 186, 0.3);
}

.wrapper #layout .privacy_box {
  height: 30px;
  text-align: center;
  padding-top: 40px;
}

.wrapper #layout .privacy_box label {
  padding: 10px 0;
  color: #9d9d9d;
}

.wrapper #layout .privacy_box label a {
  color: #333;
  font-weight: bold;
}

#n_footer {
  text-align: center;
  font-size: 14px;
  background: #f9f9f9;
  padding-top: 30px;
}

#n_footer .nf_link a {
  display: inline-block;
  color: #9d9d9d;
  padding: 0 10px;
}

#n_footer .nf_link a:first-child {
  color: #333;
}

#n_footer .nf_link span {
  color: #9d9d9d;
}

#n_footer .nf-info {
  padding: 10px;
  color: #9d9d9d;
}

#n_footer .nf-info a {
  color: #9d9d9d;
  display: inline-block;
  position: relative;
  padding-left: 20px;
}

#n_footer .nf-info a span {
  display: inline-block;
  width: 20px;
  height: 20;
  position: absolute;
  left: 0;
  bottom: 2px;
}
